.artikler-kontainer {
    display: flexbox;
    display: block;
    float: left;
    flex-shrink: inherit;
    text-wrap: justify;
    border-image: auto;
    border-right: 100cm;
    border-left: 100cm;

    
}

.artikler-kontainer2 {
    display: flexbox;
    display: block;
    float: right;
    flex-shrink: inherit;
    text-wrap: justify;
    border-image: auto;
    border-right: 100cm;
    border-left: 100cm;
    
}