.artikler-kontainer {
    display: flexbox;
    display: block;
    float: left;
    flex-wrap: wrap;
    text-wrap: justify;
    border-image: auto;
    border-right: 100cm;
    
}

.artikler-kontainer2 {
    display: flexbox;
    display: block;
    float: right;
    flex-wrap: wrap;
    text-wrap: justify;
    border-image: auto;
    border-right: 100cm;
    
}