.artikler-kontainer {
    display: flexbox;
    float: right;
    float: left;
    flex-wrap: wrap;
    position: absolute;
    text-wrap: justify;
    border-image: auto;
    border-right: 100cm;
    position: relative
    
}