.iframe-absolute {
    display: block;
    position: inherit;
    border-bottom: 100cm;
    border: 1px solid black;
    width: 100%
    
}

.footer-container {
    display: inline;
    display: block;
    position: inherit;
    position: relative;
    bottom: auto;
    border-bottom: 100cm;
    border: 1px solid black;
    width: 100%
    
}



.theme-bright {
    background-color: white;
    text-emphasis-color: black;
}

.theme-dark {
    background-color: black;
    text-emphasis-color: white;
}