.iframe-absolute {
    display: flex;
    position: left;
    
}

.footer-container {
    display: flex;
    width: auto;
    background-color: black;
    border: solid;
    border-color: red;
    border-width: 25px;
    
    
}

.footer-buttons {
    display: flex;
    display: column;

}



