.iframe-absolute {
    display: flex;
    position: left;
    
}

.footer-container {
    display: flex;
    width: auto;
    background-color: black;
    border: solid;
    border-color: red;
    border-width: 25px;
    box-shadow: 10px 10px 33px 7px rgba(16,5,235,1);
    
}

.footer-buttons {
    display: flex;
    display: column;

}



