.frihetenfundament {
    display: flex;
    display: wrap;
    border: solid;
    border-color: rgb(248, 5, 5);
    border-style: double;
    width: auto;
}

.frihetenbackr {
     background-color: red;
     border-width: 50px;

}